@import url('https://fonts.googleapis.com/css2?family=Heebo:&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --primary-color: black;
    --secondary-color: white;
}

html.dark {
    --primary-color: white;
    --secondary-color: darkgrey;
}

html.dark {
    background-color: #111111;
    color: var(--primary-color)
}

html {
    transition: all 0.3 ease;
}

body {
    font-family: 'Heebo', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.toggle {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 0;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    position: absolute;
    top: 100px;
}

.toggle:focus {
    outline: none
}

.clock-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.clock {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: pink;
    border-radius: 50%;
}

.needle {
    background-color: var(--primary-color);
    position: absolute;
    top: 50%;
    left: 50%;
    height: 65px;
    width: 3px;
    transform-origin: bottom center;
}

.needle.hour {
    transform: translate(-50%, -100%) rotate(0deg);
}

.needle.hour {
    transform: translate(-50%, -100%) rotate(0deg);
    height: 80px;
}

.needle.second {
    transform: translate(-50%, -100%) rotate(10deg);
    height: 80px;
    background-color: orangered;
}

.center-point {
    background-color: orangered;
    width: 10px;
    height: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.center-point::after {
    content: '';
    background-color: var(--primary-color);
    width: 5px;
    height: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.time {
    font-size: 60px;
}

.date {
    color: #333;
    font-size: 14px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}

.date .circle {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 50%;;
    height: 18px;
    width: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 18px;
    transition: all 0.5s ease-in;
    font-size: 12px;
}