@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Press Start 2P', sans-serif;
    height: 100vh;
    margin: 0;
    text-align: center;
    background-color: blueviolet;
    color: white;
}

.btn {
    border: 0;
    background-color: white;
    color: blueviolet;
    border-radius: 5px;
    height: 50px;
    padding: 15px 20px;
    cursor: pointer;
    font-family: inherit;
}

.btn:hover {
    opacity: 0.9;
}

.btn:focus {
    outline: none;
}

.screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.screen.up {
    margin-top: -100vh;      
}

a {
    color: white;
}

h1 {
    line-height: 1.4;
}

.insects-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.insects-list li {
    margin: 10px;
}

.choose-insect-btn {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    cursor: pointer;
    font-family: inherit;
    width: 150px;
    height: 150px;
}

.choose-insect-btn:hover {
    background-color: violet;
    color: rebeccapurple;
}

.choose-insect-btn:active {
    background-color: whitesmoke;
}

.choose-insect-btn img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}